@import "../../Assets/Styles/chart.scss";

app-onstart {
  position: absolute;
  top: 0;
  left: 0;
}
.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  app-topbar {
    margin-bottom: 20px;
  }
  app-button {
    margin: 30px 0px;
  }
}
