@import "../../Assets/Styles/chart.scss";
.create {
  margin: $page-margin;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  app-topbar {
    margin-bottom: 20px;
  }
  app-button {
    margin: 100px;
    position: absolute;
    bottom: 0;
  }
  app-text-input {
    align-self: flex-start;
  }
}
.created {
  p {
    margin: 0;
  }
  text-align: center;
  margin: $page-margin;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  #create {
    color: $orange;
    font-size: 3rem;
    transform: translate(0px, 50px);
  }
}
