$marron: #6e391c;
$orange: #f5964a;
$comp: #4a6ff5;
$rouge: #9f2d13;
// $ivoire: #fff6ef;
$ivoire: #ffffff;
$creme: #e1be91;
$anthracite: #241a17;
$anthracite-low: #241a174b;
$anthracite-mid: #241a177d;
$vert: #68c55d;

$text-family: "Lilita One";

$startDuration: 4s;
$navbarAppear: calc($startDuration - 0.5s);

$navbar-height: 70px;

$page-margin: 20px;
