@import "app/Assets/Styles/chart.scss";

body {
  width: 100vw;
  height: calc(100vh - $navbar-height);
  font-family: $text-family;
  font-size: 15px;
  margin: 0;
  user-select: none;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: $ivoire;
  font-size: 20px;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

@font-face {
  font-family: "Lilita One";
  src: url("assets/fonts/Lilita_One/LilitaOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Knewave";
  src: url("assets/fonts/Knewave/Knewave-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

 .mobile-message {
   display: none; 
 }

 @media (min-width: 800px) {
   app-root {
     display: none; 
   }

   .mobile-message {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     font-size: 24px;
     text-align: center;
     color: black; 
   }
 }