@import "../../Assets/Styles/chart.scss";

.input {
  width: 70vw;
  height: 4vh;
  .toptext {
    font-size: 1.5rem;
    margin: 10px;
  }
  input {
    width: 100%;
    padding-left: 10px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    font-family: $text-family;
    color: $anthracite;
    box-shadow: inset -4px -4px 15px 0px white,
      inset 1px 1px 8px 2px $anthracite-mid;
    background-color: transparent;
    padding: 10px;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $anthracite-mid;
    }
    &::-ms-value {
    }
  }
}
