@import "../../Assets/Styles/chart.scss";
@import "../../Assets/Styles/animations.scss";

.topbar {
  position: sticky;
  top: 0;
  background-color: $ivoire;
  animation: 0.5s slideDown $navbarAppear ease-in-out both;
  z-index: 1000;
  height: 12vh;
  width: 100%;
  padding-top: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &.small {
    height: 8vh;
    padding-top: 3vh;
  }
  img {
    height: 15vw;
    margin: 0 0px;
    &#c1 {
      rotate: -102deg;
    }
    &#c2 {
      rotate: -77deg;
    }
  }
  .title {
    font-size: 15vw;
    color: $orange;
  }
}
