@import "../../Assets/Styles/chart.scss";

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .knife {
    height: 100%;
    width: 100%;
    translate: -40% 30%;
    size: 10%;
    transform-origin: 40% 20%;
    fill: $ivoire;

    * {
      position: absolute;
      fill: $ivoire;
    }
    #handle {
      transform-origin: center;
      translate: 70% -95%;
      height: 30%;
    }
    #blade {
      transform-origin: center;
      height: 80%;
    }
  }
}
