@import "../../Assets/Styles/chart.scss";
@import "../../Assets/Styles/animations.scss";

.navbar {
  animation: 0.5s slideUp $navbarAppear ease-in-out both;
  height: $navbar-height;
  position: fixed;
  bottom: 0;
  background-color: $orange;
  width: 100%;
  .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90%;

    .logged {
      display: flex;
      width: 100px;
      flex-grow: 1;
      height: 100%;
      border-radius: 1000px;
      background-color: black;
      &.yes {
        background-color: green;
      }
      &.no {
        background-color: red;
      }
    }

    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      flex-grow: 1;
      img {
        translate: 0px 2px;
        height: 80%;
      }
      .material-icons.md-light {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
  .selected {
    width: 100%;
    height: 10%;
    display: flex;
    .cursor {
      transition: transform 0.15s ease-in-out;
      display: flex;
      border-radius: 1000px;
      width: 33.33%;
      height: 100%;
      background-color: white;
      &.chome {
        transform: translateX(0%);
      }
      &.ckiller {
        transform: translateX(100%);
      }
      &.clogin {
        transform: translateX(200%);
      }
    }
  }
}
