<div class="navbar">
  <div class="icons">
    <div class="button" (click)="select('home')">
      <span class="material-icons md-light"> home </span>
    </div>
    <div class="button" (click)="select('killer')">
      <img src="../../../assets/images/navbar/couto.PNG" alt="" />
    </div>
    <div class="button" (click)="select('login')">
      <span class="material-icons md-light"> person </span>
    </div>
  </div>

  <div [class]="'selected'">
    <div [class]="'cursor' + ' c' + selected"></div>
  </div>
</div>
