@import "../../Assets/Styles/chart.scss";
.page {
  width: 80%;
  margin: auto;
  .killer {
    .title {
      padding: 5px;
      translate: 0;
      .line {
        z-index: -1;
        width: 100%;
        height: 3px;
        background-color: $anthracite;
        margin: 10px 0;
        border-radius: 2px;
        translate: 0 2.8rem;
      }
      .text {
        padding: 5px;
        width: fit-content;
        z-index: 1;
        translate: 0;
        background-color: $ivoire;
        margin-left: 20px;
        .name {
          font-size: 2rem;
          color: $anthracite;
        }
        .id {
          font-size: 1rem;
          color: $anthracite-mid;
        }
      }
    }

    .alive {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .beingKilled {
        width: 110%;
        transform: translate(-5%, 0);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 150px;
        border-radius: 7px;
        overflow: hidden;
        text-align: center;
        color: $rouge;
        border: $rouge 5px solid;
        .text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 50%;
          width: 100%;
        }
        .buttons {
          height: 50%;
          width: 100%;
          display: flex;
          align-self: flex-end;
          justify-content: center;
          flex-direction: row;
          color: $ivoire;
          .button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100%;
            &.confirm {
              background-color: $vert;
            }
            &.cancel {
              background-color: $rouge;
            }
          }
        }
      }

      .killing {
        transform: translate(calc(5% - 7px), -10px);
        padding: 10px 5px 0px;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $orange;
        border: $orange 3px solid;
        border-radius: 7px;
        font-size: 1rem;
      }

      .cible {
        margin-bottom: 5px;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 7px;
        border-radius: 8px;
        border: $orange 3px solid;
        .hider {
          color: $orange;
          padding: 5px;
          transition: filter 0.1s ease-in-out;
          &#hidden {
            filter: blur(3px);
          }
        }
        .reveal {
          display: flex;
          color: white;
          background-color: $orange;
          padding: 10px;
          border-radius: 5px;
        }
      }
      .kill {
        color: $ivoire;
        height: 75px;
        // border: 5px $orange solid;
        overflow: hidden;
        padding: 0;
        border-radius: 20px;
        transition: height 0.2s ease-in-out;
        width: 100%;

        &#extended {
          height: 150px;
        }

        .bigButton {
          z-index: 5;
          margin: 0;
          height: 75px;
          background-color: $orange;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .confirming {
          z-index: -1;
          height: 50%;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          width: 100%;
          .button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100%;
            &.confirm {
              background-color: $vert;
            }
            &.cancel {
              background-color: $rouge;
            }
          }
        }
      }
      .unroll-wrap {
        margin-top: 10px;
        width: 100%;
        display: flex;
        align-self: flex-start;
        justify-content: center;
        flex-direction: row-reverse;
        color: $anthracite-mid;

        .unroll-button {
          height: fit-content;
          transition: rotate 0.3s ease-in-out;
          translate: 0 3px;
          fill: $anthracite-mid;
          margin-left: 10px;
          &#spin {
            rotate: 90deg;
          }
        }
        .unroll {
          transition: height 0.3s ease-in-out;
          overflow: hidden;
          &.closed {
            height: 30px;
          }
          height: 300px;
          width: 90%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          border-radius: 10px;
          background-color: white;
          color: $anthracite-mid;
          box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.25);
          .list {
            width: 95%;
            margin: 0 auto;
            overflow: scroll;
            .player {
              padding: 5px 0;
              color: $anthracite;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              border-top: 2px solid $anthracite-mid;
            }
          }
        }
      }
      .content {
        align-self: center;
      }
      .section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .objet {
        align-self: center;
        width: 100%;
        padding: 5px;
        border-radius: 15px;
        background: linear-gradient(
          45deg,
          red,
          orange,
          yellow,
          green,
          blue,
          indigo,
          violet,
          red
        );
        transition: all 0.3s ease-in-out;
        &#extended {
          width: 110%;
        }

        .content {
          height: auto;
          max-height: 3rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          border-radius: 10px;

          padding: 5px;
          background-color: white;
          &#extended {
            max-height: 1000px;
          }
          transition: all 0.3s ease-in-out;
          .titre {
            height: 1.2rem;
            width: 100%;
            text-align: center;
            color: $anthracite-mid;
            &#hidden {
              opacity: 0;
              height: 1px;
            }
            transition: all 0.3s ease-in-out;
          }
          .objet-text {
            padding-bottom: 3px;
            font-size: 1.5rem;
          }
          .regles {
            overflow: scroll;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            height: auto;
            font-size: 1.1rem;
            height: 5.6rem;
            &#hidden {
              opacity: 0;
              height: 1px;
            }
            transition: all 0.3s ease-in-out;
            .valable {
              color: $anthracite-mid;
            }
          }
        }
      }
    }
    .dead {
      width: 100%;
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $anthracite;
      text-align: center;
    }
  }
}
