<div class="page">
  <div *ngIf="loading" class="loading"><app-loading-page /></div>
  <div *ngIf="!loading && game != undefined" class="killer">
    <div class="title">
      <div class="line"></div>
      <div class="text">
        <span class="name">{{ game.name }}</span>
        <span class="id">{{ "#" + game.id }}</span>
      </div>
    </div>
    <div
      class="not-started"
      style="display: flex; flex-direction: column; gap: 10px"
      *ngIf="!game.isStarted"
    >
      <div class="text">La partie n'a pas encore commencé.</div>
      <div class="text">
        {{
          player?.equipe == undefined
            ? "Vous n'avez pas d'équipe"
            : "Vous appartenez à l'équipe "
        }}
        <span [style]="'color:#' + selectedTeam?.couleur">
          {{ selectedTeam?.name }}</span
        >
      </div>
      <select
        #teams
        [style]="'height:50px; justify-self:center; '"
        [value]="selectedTeam"
        (change)="selectTeam(teams.value)"
      >
        <option [value]="0">Choisissez une équipe</option>
        <option
          [style]="'background-color:' + equipe.couleur"
          *ngFor="let equipe of game.equipes"
          [value]="equipe.id"
        >
          {{ equipe.name }}
        </option>
      </select>
      <app-button
        width="100%"
        style="align-self: center"
        text="Changer d'équipe"
        (click)="saveTeam()"
      ></app-button>
    </div>
    <div class="alive" *ngIf="player?.alive && game.isStarted">
      <div *ngIf="killOnHold != null" class="beingKilled">
        <div class="text">Attention ! Votre tueur annonce vous avoir tué.</div>
        <div class="buttons">
          <div class="button cancel" (click)="cancelKill()">
            Refuser le kill
          </div>
          <div class="button confirm" (click)="confirmKill()">J'ai été tué</div>
        </div>
      </div>
      <div class="section">
        <div
          class="objet"
          [id]="openLists.includes('objet') ? 'extended' : ''"
          *ngIf="currentObjet != null"
          (click)="
            openLists.includes('objet')
              ? openLists.splice(openLists.indexOf('objet')!, 1)
              : openLists.push('objet')
          "
        >
          <div
            class="content"
            [id]="openLists.includes('objet') ? 'extended' : ''"
          >
            <div
              class="titre"
              [id]="openLists.includes('objet') ? 'hidden' : ''"
            >
              Vous êtes protégés si...
            </div>
            <div class="objet-text">
              {{ this.currentObjet.name
              }}<svg
                [style]="
                  (!openLists.includes('objet')
                    ? 'margin-left: 5px; width:10px; opacity:1;'
                    : 'margin-left: 0px; width:0px; opacity:0;') +
                  'transition: all 0.3s ease-in-out'
                "
                width="12"
                height="9"
                viewBox="0 0 12 9"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M6 9L0.803846 1.93247e-06L11.1962 1.02395e-06L6 9Z"
                  fill="#241A17"
                  fill-opacity="0.5"
                />
              </svg>
            </div>
            <div
              class="regles"
              [id]="openLists.includes('objet') ? '' : 'hidden'"
            >
              <div class="valable">
                Valable depuis le
                <span class="date">{{ objetDebutValidite }}</span>
              </div>
              <div
                class="lines"
                *ngFor="let lines of currentObjet.details.split('%%')"
              >
                {{ lines }}
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cible">
        <div class="txt">
          Ta Cible :
          <span class="hider" [id]="hidden ? 'hidden' : ''">{{
            cible?.user?.prenom + " " + cible?.user?.nom
          }}</span>
        </div>
        <div class="reveal" (click)="hidden = !hidden">Réveler</div>
      </div>
      <div class="section">
        <div class="kill" [id]="confirmingKill ? 'extended' : ''">
          <div
            class="bigButton"
            (click)="
              killingOnHold == null ? (confirmingKill = !confirmingKill) : {}
            "
          >
            J'ai tué ma cible
          </div>
          <div class="confirming">
            <div class="button cancel" (click)="confirmingKill = false">
              Annuler
            </div>
            <div class="button confirm" (click)="kill()">Je confirme</div>
          </div>
        </div>
        <div class="killing" *ngIf="killingOnHold != null">
          Vous avez envoyé une demande de confirmation à votre cible.
          Demandez-lui de valider le kill de son côté.
        </div>
      </div>

      <div class="players">
        <div
          class="unroll-wrap"
          (click)="
            openLists.includes('players')
              ? openLists.splice(openLists.indexOf('players')!, 1)
              : openLists.push('players')
          "
        >
          <div
            class="unroll-button"
            [id]="openLists.includes('players') ? '' : 'spin'"
          >
            <svg
              width="12"
              height="9"
              viewBox="0 0 12 9"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6 9L0.803846 1.93247e-06L11.1962 1.02395e-06L6 9Z"
                fill="#241A17"
                fill-opacity="0.5"
              />
            </svg>
          </div>
          <div
            [class]="openLists.includes('players') ? 'unroll' : 'unroll closed'"
          >
            <div class="title">Joueurs</div>
            <div class="list">
              <div
                *ngFor="let player of game.players"
                [class]="player.alive ? 'player' : 'player mort'"
                [id]="'c' + player.alive ? player.equipe!.couleur : ''"
                [style]="
                  player.alive ? 'color: #' + player.equipe!.couleur + ';' : ''
                "
              >
                <div class="name">
                  {{ player.user.prenom + " " + player.user.nom }}
                </div>
                <div class="id">{{ "#" + player.id }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!player?.alive" class="dead">Tu es mort :(</div>
  </div>
</div>
